#topbar2 {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 0 20px;
    height: 60px;
    display: grid;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
}


div #img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo h2 {
    color: rgb(102, 0, 0);
}

/*.search {
    position: relative;
    width: 60%;
    justify-self: center;
}

.search input {
    width: 100%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #f5f5f5;
}

.search i {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}*/

.fa-bell {
    justify-self: right;
    float:right;
    padding-right:5%;
}

#user {
    position: relative;
    width: 50px;
    height: 50px;
    justify-self: right;
    float:right;
    
}







/* main */


div #main {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 260px;
    background: #f5f5f5;
}

div #cards {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

#cards #card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

a:link{
    text-decoration: none;
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: rgb(102, 0, 0);
}

.card-name {
    color: #888;
    font-weight: 600;
}

.icon-box i {
    font-size: 45px;
    color: rgb(102, 0, 0);
    align-items:flex-start;
}

.profile-button {
    background: rgb(102, 0, 0);
    box-shadow: none;
    border: none
  }
  
  .profile-button:hover {
    background: rgb(102, 0, 0)
  }
  
  .profile-button:focus {
    background: rgb(102, 0, 0);
    box-shadow: none
  }
  
  .profile-button:active {
    background: rgb(102, 0, 0);
    box-shadow: none
  }
  
  .back:hover {
    color: rgb(102, 0, 0);
    cursor: pointer
  }
.btn:hover{
    opacity: 0.7;;
}
/* charts */

.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 100%;
}

.chart h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    text-align: center
}


@media (max-width:1115px) {
    div #sidebar {
        width: 60px;
    }
    div #main {
        width: calc(100% - 60px);
        left: 60px;
    }
}

@media (max-width:880px) {
    /* .topbar {
        grid-template-columns: 1.6fr 6fr 0.4fr 1fr;
    } */
    .fa-bell {
        justify-self: left;
    }
    div #cards {
        width: 100%;
        padding: 35px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .charts {
        grid-template-columns: 1fr;
    }
    .doughnut-chart {
        padding: 50px;
    }
    #doughnut {
        padding: 50px;
    }
}

@media (max-width:500px) {
    
    #topbar {
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }
    .logo h2 {
        font-size: 20px;
    }
    /* .search {
        width: 80%;
    }
    .search input {
        padding: 0 20px;
    } */
    .fa-bell {
        margin-right: 5px;
    }
    div #cards {
        grid-template-columns: 1fr;
    }
    .doughnut-chart {
        padding: 10px;
    }
    #doughnut {
        padding: 0px;
    }
    #user {
        width: 40px;
        height: 40px;
    }
}


/* Add some styles to the form */
#form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Add some styles to the input fields */
label, input, select {
  margin: 10px 0;
  font-size: 18px;
}

input, select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

input:focus, select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Add some styles to the submit button */
button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}


/* #row1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #sidebar1 {
    width: 100%;
    max-width: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #sidebar1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #sidebar1 li {
    margin-bottom: 15px;
  }
  
  #sidebar1 a {
    display: flex;
    align-items: center;
    color: #555;
    text-decoration: none;
  }
  
  #sidebar1 a:hover {
    color: #000;
  }
  
  #sidebar1 i {
    font-size: 1.2rem;
    margin-right: 10px;
  }
  
  #sidebar1 div {
    font-size: 1rem;
  }
  
  @media screen and (max-width: 768px) {
    #row1 {
      flex-direction: column;
      align-items: stretch;
    }
    
    #sidebar {
      margin-bottom: 20px;
    }
  } */

/* 
  div #sidebar {
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: rgb(102, 0, 0);
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}  

div #sidebar ul {
    margin-top: 20px;
}

div #sidebar ul li {
    width: 100%;
    list-style: none;
}

div #sidebar ul li:hover {
    background: #fff;
}

div #sidebar ul li:hover a {
    color: #299B63;
}

div #sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}

div #sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
} */

/* Sidebar styles */
div #sidebar {
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: rgb(102, 0, 0);
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}

div #sidebar ul {
    margin-top: 20px;
}

div #sidebar ul li {
    width: 100%;
    list-style: none;
}

div #sidebar ul li:hover {
    background: #fff;
}

div #sidebar ul li:hover a {
    color: #299B63;
}

div #sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}

div #sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}

/* Menu toggle styles */
div #sidebar .menu-toggle {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 3;
}

div #sidebar .menu-toggle i {
    font-size: 24px;
    color: #252424;
}

@media only screen and (max-width: 767px) {
    /* Hide the sidebar by default on small screens */
    div #sidebar {
        display: none;
    }

    /* Show the menu toggle on small screens */
    div #sidebar .menu-toggle {
        display: block;
    }

    /* Add margin to the page content when the sidebar is hidden */
    div #content {
        margin-left: 0;
    }

    /* Collapse the sidebar menu on small screens */
    div #sidebar.collapse {
        display: block;
        height: 0;
        width: 100%;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 2;
        overflow-y: auto;
        background: rgb(102, 0, 0);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: height 0.3s ease-in-out;
    }

    div #sidebar.collapse ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    div #sidebar.collapse ul li a {
        display: block;
        height: auto;
    }

    div #sidebar.collapse.show {
        height: calc(100% - 60px);
    }
}
